<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <link href="css/mystyle.css" rel="stylesheet">
  <title>JNK HomePage</title>
</head>
<body>
	<div class="topnav">
		<a th:href="@{/Home}" class="active">Home</a>
	 	<span th:switch="${session.user}" class="nav-right">
			<a th:case="null" th:href="@{/LogIn}"> Log In</a>
			<span th:case="*">
				<a th:href="@{/EditProfile}" class="nav-right">Account</a>
				<a th:href="@{/LogOut}">Log Out </a>
			</span>
		</span>
	</div>
	<div>
		<img src="images/nome+logo-removebg.png" th:src="@{/images/nome+logo-removebg.png}" class="logo" alt="Nome+Logo"/>
 		<h1 align="center">Illegal <b>J</b>u<b>NK</b>yard Crowdsourcing</h1>
	</div>
	
	<!-- **************************************** MANAGER VIEW ************************************************* -->
	
	
	<div th:if="${session.user.role=='manager'}">
		
		<h3> Hi <b><span th:text="${session.user.name}">Riccardo </span></b>, these are your campaigns: </h3>
		<h4> Click on one of them to see the details </h4>
		<div id="CampaignView">
			
				<table border="1">
					<thead>
						<tr>
							<th>Campaign Name</th>
							<th>Num of Images</th>
							<th>Campaign State</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c : ${campaigns}">
							<td>
								<a href="ManagerCampaign.html" th:href="@{/ManageCampaign(campaign=${c.name})}" th:text="${c.name}"> default </a>
							</td>
							<td th:text="${c.numImages}"> -1 </td>
							<td th:text="${c.state}">closed</td>
						</tr>
					</tbody>
				</table>
		</div>
		<h4> Or create a new one </h4>
		<div id="CampaignForm">
			<form action="CreateCampaign" method ="POST">
				<div th:if="${notValid == 'true'}" class="not-valid">
					<p> "This Campaign already exists, please use another name. " </p>
				</div>
				Name:  <input type= "text" name="name" required> <br>
				Customer:  <input type= "text" name="customer" required> <br>
				<input type="submit" value="CreateCampaign">
			</form>
		</div>
	</div>
	
	<!-- **************************************** /MANAGER VIEW ************************************************* -->
	
	<!--*****************************************  WORKER VIEW  ************************************************* -->
	
	<div th:if="${session.user.role=='worker'}" id="wrapper">
	
		<div id="first">
			<h3> Hi <b><span th:text="${session.user.name}">Riccardo </span></b>, these are the campaigns you can work with: </h3>
			<h4> Click on one of them to see the details </h4>
			
			<table border="1">
				<thead>
					<tr>
						<th>Campaign Name</th>
						<th>Campaign Customer</th>
						<th>Num of Images</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="c : ${campaigns}">
						<td>
							<a href="" th:href="@{/WorkerCampaign(campaign=${c.name})}" th:text="${c.name}"> default </a>
						</td>
						<td th:text="${c.customer}"> default </td>
						<td th:text="${c.numImages}"> -1 </td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div id="second">
			<h3>..and these are the campaigns you already worked with: </h3>
			
			<table border="1">
				<thead>
					<tr>
						<th>Campaign Name</th>
						<th>Campaign Customer</th>
						<th>Num of Images</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="c : ${annCampaigns}">
						<td>
							<a href="" th:href="@{/WorkerCampaign(campaign=${c.name})}" th:text="${c.name}"> default </a>
						</td>
						<td th:text="${c.customer}"> default </td>
						<td th:text="${c.numImages}"> -1 </td>
					</tr>
				</tbody>
			</table>
		</div>
	
	
	
	
	
	
	
	
	</div>
	
	<!--*****************************************  WORKER VIEW  ************************************************* -->
</body>
</html>