<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <link href="css/mystyle.css" rel="stylesheet">
  <title>JNK: Stats</title>
</head>
<body>
	<div class="topnav">
		<a th:href="@{/Home}" class="active">Home</a>
		<span class="nav-right"><a th:href="@{/SignIn}" class="nav-right">Account</a></span>
	 	<span th:switch="${session.user}" class="nav-right">
			<a th:case="null" th:href="@{/LogIn}"> Log In</a>
			<a th:case="*" th:href="@{/LogOut}">Log Out </a>
		</span>
	</div>
	<div>
		<img src="images/nome+logo-removebg.png" th:src="@{/images/nome+logo-removebg.png}" class="logo" alt="Nome+Logo"/>
	</div>
	
	Go back to <a href="ManagerCampaign.html" th:href="@{/ManageCampaign(campaign=${session.campaign.name})}" th:text="${session.campaign.name}"> default </a>
	
	<div>
		<h1> Campaign <b><span th:text="${session.campaign.name}"> Default </span></b>: </h1>
		<br>
		<i>Images number: </i><span th:text="${session.stats.numImages}"> 0 </span> <br>
		<i>Annotations number: </i><span th:text="${session.stats.annotations}"> 0</span> <br>
		<i>Average annotations per image: </i><span th:text="${session.stats.average}"> 0</span> <br>
		<i>Images with conflicts: </i><span th:text="${session.stats.conflicts}"> 0</span> <br>
	</div>
</body>
</html>