<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <link href="css/mystyle.css" rel="stylesheet">
  <title>JNK: Account</title>
</head>
<body>
	<div class="topnav">
		<a th:href="@{/Home}" class="active">Home</a>
	 	<span th:switch="${session.user}" class="nav-right">
			<a th:case="null" th:href="@{/LogIn}"> Log In</a>
			<span th:case="*">
				<a th:href="@{/EditProfile}" class="nav-right">Account</a>
				<a th:href="@{/LogOut}">Log Out </a>
			</span>
		</span>
	</div>
	<div>
		<img src="images/nome+logo-removebg.png" th:src="@{/images/nome+logo-removebg.png}" class="logo" alt="Nome+Logo"/>
	</div>
	<h3> Hi <b><span th:text="${session.user.name}">Riccardo</span></b>, Nice to see you again. <br>
		You are a <span th:text="${session.user.role}">stupid</span>.</h3>
	<h1>Account Settings</h1>
	
	<div>
	<img th:if="${session.user.role=='worker'}" th:alt="profile+picture"
		th:src="${avatar}" alt="default+picture" class="logo"> <br>
	Complete Name:  <span th:text="${session.user.name}">default</span> <br>
	E-mail address: <span th:text="${session.user.mailAddress}">default</span> <br>
	Username: <span th:text="${session.user.username}">default</span> <br>
	Password: <span th:text="${session.user.password}">default</span> <br>
	<span th:if="${session.user.role=='worker'}"> 
		Level of Experience: <span th:text="${session.user.LvlExp}">default</span> <br>
	</span>
	<br>
	</div>
	
	<form action="EditProfile" method ="POST" enctype="multipart/form-data">
	<br>
	Insert here what you want to change: <br>
	<span th:if="${session.user.role=='worker'}">
		Profile Picture:(only jpg) 	<input type="file" id="avatar" name="avatar" accept="image/jpeg"> <br>
	</span>
	Complete Name:  <input type= "text" name="name" > <br>
	E-mail address: <input type="email" name="mailAddress" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" > <br>
	Username: <input type="text" name="username" > <br>
	Password: <input type = "password" name="pwd" ><br>
	<div th:if="${session.notvalid == true}" class="not-valid">
		<p> <br> "Username or mail address already used" <br> </p></div>
	<input type="submit" value="Edit">
	</form>
	
</body>
</html>