<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="../css/mystyle.css" rel="stylesheet">
  <link href="css/mystyle.css" rel="stylesheet">
  <title>JNK: Account</title>
</head>
<body>
	<!-- ************* HEADER ***************** -->
	<div class="topnav">
		<a th:href="@{/Home}" class="active">Home</a>
	 	<span th:switch="${session.user}" class="nav-right">
			<a th:case="null" th:href="@{/LogIn}"> Log In</a>
			<span th:case="*">
				<a th:href="@{/EditProfile}" class="nav-right">Account</a>
				<a th:href="@{/LogOut}">Log Out </a>
			</span>
		</span>
	</div>
	<div>
		<img src="../images/nome+logo-removebg.png" th:src="@{/images/nome+logo-removebg.png}" class="logo" alt="Nome+Logo"/>
	</div>
	<!-- *************** /HEADER *********************** -->
	
	<div class="container-fluid">
			<h1>Account Settings</h1>
			<h4>Here you can change your personal info: </h4>
			
				<div class="row">
					<div th:if="${session.user.role=='worker'}" class="col-2">
						<img  th:alt="profile+picture" src="../images/profilePictures/Default.jpg"
							th:src="@{/GetImage(userImage=${session.user.username})}" alt="default+picture" 
							class="user-image mx-2 my-5">
					</div>
					<div class="col-9 ml-3">
						<form action="EditProfile" method ="POST" enctype="multipart/form-data" class="form-group jnk-col" id="formEditProfile">
							<div class="row" th:if="${session.user.role=='worker'}">
						    	<label class="col-sm-2 col-form-label">Profile picture: </label>
						    	<div class="col-sm-10">
									<input type="file" id="avatar" name="avatar" accept="image/jpeg" class="form-control">
						  			<small class="text-muted">only .jpg files</small>
								</div>
							</div>
							<div class="row">
						    	<label class="col-sm-2 col-form-label">Username: </label>
							    <div class="col-sm-10">
						        	<input type="text" name="username"  pattern="[a-zA-Z0-9-_\.]{1,20}$" th:placeholder="${session.user.username}" class="form-control">
						        	<small class="form-text text-muted col-sm-10 mb-2">only letters, numbers '_'(underscore) and '.'(dot) are accepted</small>
						      	</div>
					      	</div>
							<div class="row">
							    <label class="col-sm-2 col-form-label">Name: </label>
							    <div class="col-sm-10">
						        	<input type="text" name="name" th:placeholder="${session.user.name}" class="form-control">
						      	</div>
					      	</div>
					      	<div class="row">
							    <label class="col-sm-2 col-form-label">E-mail: </label>
							    <div class="col-sm-10">
					        		<input type="email" name="mailAddress" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" th:placeholder="${session.user.mailAddress}" class="form-control">
						      	</div>
					      	</div>
					      	<div class="row">
							    <label class="col-sm-2 col-form-label">Password: </label>
							    <div class="col-sm-10">
									<input type = "password" name="pwd" class="form-control" th:placeholder="${session.user.password}">
						      	</div>
					      	</div>
					      	<div th:if="${session.user.role=='worker'}" class="row">
								<label  class="col-sm-2 col-form-label">Level of Experience </label>
							    <div class="col-sm-10"> 
									<span th:text="${session.user.LvlExp}">default</span>
								</div>
							</div>
							<button type="submit" class="btn btn-block btn-secondary mt-5" value="Edit" form="formEditProfile"> Edit </button>
						</form>
					</div>
				</div>
	</div>
</body>
</html>