<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <link href="css/mystyle.css" rel="stylesheet">
  <title>JNK: Account</title>
</head>
<body>
	<div class="topnav">
		<a th:href="@{/Home}" class="active">Home</a>
	 	<span th:switch="${session.user}" class="nav-right">
			<a th:case="null" th:href="@{/LogIn}"> Log In</a>
			<span th:case="*">
				<a th:href="@{/EditProfile}" class="nav-right">Account</a>
				<a th:href="@{/LogOut}">Log Out </a>
			</span>
		</span>
	</div>
	<div>
		<img src="images/nome+logo-removebg.png" th:src="@{/images/nome+logo-removebg.png}" alt="Nome+Logo"/>
	</div>
	<h1>Account Settings</h1>
</body>
</html>