<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <link href="css/mystyle.css" rel="stylesheet">
  <title>JNK: Login</title>
</head>
<body>
	<div class="topnav">
		<a th:href="@{/Home}" class="active">Home</a>
	 	<span th:switch="${session.user}" class="nav-right">
			<a th:case="null" th:href="@{/LogIn}"> Log In</a>
			<span th:case="*">
				<a th:href="@{/EditProfile}" class="nav-right">Account</a>
				<a th:href="@{/LogOut}">Log Out </a>
			</span>
		</span>
	</div>
	<div>
		<img src="images/nome+logo-removebg.png" th:src="@{/images/nome+logo-removebg.png}" alt="Nome+Logo"/>
	</div>
	
	<h1>Please Log in to start working on this project</h1>
	<form action="Login" method ="POST">
	
	<div th:if="${session.notvalid == true}" class="not-valid">
		<p> "Username or password incorrect" </p>
	</div>
	username: <input type="text" name="username"> <br>
	password: <input type = "password" name="password"><br>
	<input type="submit" value="Login">
	</form>
	
	<p> You want to <a th:href="@{/SignUp}">Sign Up</a> instead?</p>

</body>
</html>