<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="../css/mystyle.css" th:href="@{/css/mystyle.css}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <title>JNK: Campaign View</title>
</head>
<body>
	<!-- ******************************** HEADER *************************** -->
	<div class="topnav">
		<a th:href="@{/Home}" class="active">Home</a>
		<span class="nav-right"><a th:href="@{/EditProfile}" class="nav-right">Account</a></span>
	 	<span th:switch="${session.user}" class="nav-right">
			<a th:case="null" th:href="@{/LogIn}"> Log In</a>
			<a th:case="*" th:href="@{/LogOut}">Log Out </a>
		</span>
	</div>
	<div>
		<img src="../images/nome+logo-removebg.png" th:src="@{/images/nome+logo-removebg.png}" class="logo" alt="Nome+Logo"/>
	</div>
	<!-- ******************************* /HEADER *************************** -->
	
	<div th:if="${notValid == 'true'}" class="alert-warning m-5">
		<p> "Something went wrong, please try again" </p>
	</div>
	
	<div class="container-fluid" th:unless="${notValid == 'true'}">
	
		<div class="row">
			<div class="col text-center">
				<h1>Campaign <b><span th:text="${session.campaign.name}"> Default</span></b>: </h1>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-3"></div>
			<ul class="list-unstyled col-3 text-center">
				<li>Customer: <span th:text="${session.campaign.customer}"> None</span>
				<li>State: <span th:text="${#strings.toString(session.campaign.state)}"> None </span> 
			</ul>
			<div class="col-1 mt-2 text-center">
				<form th:action="UpdateCampaign" action="" method="GET">
					<input type="submit" 
						th:if="${#strings.toString(session.campaign.state) == 'Created' and session.campaign.numImages >= 1}" 
						name="action" value="Start" class="btn btn-success">
					<input type="submit" 
						th:if="${#strings.toString(session.campaign.state) == 'Started'}" 
						name="action" value="Close" class="btn btn-danger">
				</form>
			</div>
			<div class="col-2 mt-2 text-center">
				<div th:if="${#strings.toString(session.campaign.state) != 'Created'}">
					<a th:href="@{/Statistics}" href="CampaignStatistics.html"> <button type="button" class="btn btn-info">Statistics</button></a>
				</div>
			</div>
			<div class="col-3"></div>
		</div>
		
		<div class="row justify-content-center" th:if="${#strings.toString(session.campaign.state) != 'Created'}">
			<div class="col-8" id="map"></div>
		</div>
		
		<div class="row justify-content-center" id="container-campaign-images" th:numImg="${session.campaign.numImages}">
			<div class="col-8" style="overflow-y: scroll; max-height: 400px;">
				<div class="row justify-content-center">
					<div th:each="img : ${images}">
						<div class="col">
							<div class="row justify-content-center">
								<img src="../images/default.jpg" th:src="@{/GetImage(image=${img.name})}" class="rounded img-thumbnail mx-2" alt="campaign+image">
							</div>
							<div class="row justify-content-center">
		    					<div class="col text-center">
									<button th:if="${#strings.toString(session.campaign.state) != 'Created'}" 
										id="dtlBtn" type="button" class="btn btn-secondary my-2" data-toggle="modal" th:data-target="${'#' + img.name + 'modalImage'}" data-target="#modalImage">details</button> 
								</div>
							</div>
						</div>
						
						<div class="modal fade" th:id="${img.name + 'modalImage'}" id="modalImage" tabindex="-1" role="dialog" aria-labelledby="modalImageTitle" aria-hidden="true">
						  <div class="modal-dialog modal-dialog-centered modal-jnk modal-dialog-scrollable" role="document">
						    <div class="modal-content">
						      	<div class="modal-header">
						        	<h5 class="modal-title" id="modalImageTitle"><span th:text="${img.name}">1</span>° image: </h5>
						       		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          		<span aria-hidden="true">&times;</span>
						        	</button>
						      	</div>
						      	<div class="modal-body">
						      		<div class="row">
						      			<div class="col-8">
											<img src="../images/default.jpg" th:src="@{/GetImage(image=${img.name})}" class="rounded jnk-img" alt="campaign+image"> 
						        		</div>
						        		<div class="col-4" style="overflow-y: scroll; max-height: 600px;">
											<ul class="list-unstyled">
												<li><h4><span th:text="${img.name}">1</span>° image: </h4></li>
												<li><i>Resolution(High, Medium, Low): </i><span th:text="${img.name}">default</span> </li>
												<li><i>Latitude: </i><span th:text="${img.latitude}" th:id="${'lat' + img.name}" th:lat="${img.latitude}">default</span> </li>
												<li><i>Longitude: </i><span th:text="${img.longitude}" th:id="${'lon' + img.name}" th:lon="${img.longitude}">default</span> </li>
												<li><i>City: </i><span th:text="${img.city}">default</span> </li>
												<li><i>Region: </i><span th:text="${img.region}">default</span> </li>
												<li><i>Source: </i><span th:text="${img.source}">default</span> </li>
												<li><i>Date: </i><span th:text="${img.date}">01-01-1991</span>
											</ul>
											
											<div th:id="${'annotations' + img.name}" th:isAnn="${img.annotated}">
												<h4 th:if="${img.annotated == true}">Annotations</h4>
												<div class="row" th:each="ann : ${img.annotations}">
													<div class="col">
														<ul class="list-unstyled">
															<li><b> <span th:text="${ann.author}"> user </span> </b> 
															<li><i>Posted: </i><span th:text="${ann.notes}"> sometext </span> 
															<li><i>Validity: </i><span th:text="${ann.validity}"> Real/False </span> 
															<li><i>Trust: </i><span th:text="${ann.trust}"> Low/Medium/High </span> 
															<li><i><small class="text-muted">Date: <span th:text="${ann.date}"> date </span> </small></i>
														</ul>
													</div>
												</div>
												<h5 th:unless="${img.annotated == true}"> There aren't annotations on this image</h5>
											</div>
						        		</div>
					        		</div>
						      	</div>
						      		<div class="modal-footer">
								        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close">Close</button>
						      		</div>
						    	</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div th:if="${#strings.toString(session.campaign.state) == 'Created'}" class="row justify-content-center">
			<div class="col-8">
				<h4>Add more images here: </h4>
				<div th:if="${notValid == 'true'}" class="alert-warning">
					<small>"Something went wrong while uploading the image, please repeat. "</small>
				</div>
				<form action="AddImage" method="POST" enctype="multipart/form-data" class="form-group mt-3">
					<input type="file" id="image" name="image" accept="image/jpeg" class="form-control" required> <br>
					Resolution(High, Medium, Low): <input type="text" name="resolution" pattern="High|Medium|Low" class="form-control" required>
					Latitude: (-90.00000 , +90.00000) <input type="text" name="latitude" pattern="^[-+]?([1-8]?\d(\.\d+)?|90(\.0+)?)" title="[-90.00000 , +90.00000]" class="form-control" required>
					Longitude: (-180.00000 , +180.00000) <input type="text" name="longitude" pattern="[-+]?(180(\.0+)?|((1[0-7]\d)|([1-9]?\d))(\.\d+)?)$" title="[-180.00000 , +180.00000]" class="form-control" required>
					City: <input type="text" name="city" class="form-control" required>
					Region: <input type="text" name="region" class="form-control" required>
					Source: <input type="text" name="source" class="form-control" required>
					Date: <input type="date" name="date" class="form-control" required>
					
					<input class="mt-3" type="submit" value="Add">
				</form>
			</div>
		</div>
	</div>
	
	<!-- ********** MODAL SCRIPT ********** -->
	<script>
		
	var numImages = document.getElementById("container-campaign-images").getAttribute("numImg");
		
	if(numImages !== null) {
	
		for (let img = 1; img <= numImages; img++){ 
			$('#' + img + 'modalImage').on('shown.bs.modal', function () {
				$('#myInput').trigger('focus')
			})
		}
		
	}
	else {
		
		$('#modalImage').on('shown.bs.modal', function () {
			$('#myInput').trigger('focus')
		})
		
	}
		
	</script>
	
	<!-- ********** MAP SCRIPTS ********** -->
	<script>
	function initMap() {
		
		var numImages = document.getElementById("container-campaign-images").getAttribute("numImg");
		
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 1, 
			center: new google.maps.LatLng(+0.000, +0.000)
		});
		
		var markers = new Array();
		var lat;
		var lon;
		var ann;
		
		if(numImages !== null) {
			for (let img = 1; img <= numImages; img++){ 
				
				lat = parseFloat(document.getElementById("lat" + img).getAttribute("lat"));
				lon = parseFloat(document.getElementById("lon" + img).getAttribute("lon"));
				ann = document.getElementById("annotations" + img).getAttribute("isAnn");
				
				if(ann.localeCompare("true") == 0){
					markers[img] = new google.maps.Marker({
						label: img,
						position: {
							lat : lat,
							lng: lon
							}, 
						map: map,
						animation: google.maps.Animation.DROP,
						icon: {
						      url: "http://maps.google.com/mapfiles/ms/icons/green-dot.png"
						    }
						});
				} else {
					markers[img] = new google.maps.Marker({
						label: img,
						position: {
							lat : lat,
							lng: lon
							}, 
						map: map,
						animation: google.maps.Animation.DROP,
						icon: {
						      url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png"
						    }
						});
				}
				google.maps.event.addListener(markers[img], 'click', function() {
				    map.setCenter(this.position);
				    map.setZoom(4);
				    $('#' + img + 'modalImage').modal('show');
			        });
			}
		}
	}
	function drop() {
		  for (var i =0; i < markers.length; i++) {
		    setTimeout(function() {
		      addMarkerMethod();
		    }, i * 200);
		  }
		}
	</script>
	<script async defer
    	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPKDWa4M0pC86P6MKPJb7p7Y7NXpW_2DQ&callback=initMap">
    </script>
</body>
</html>