<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <link href="css/mystyle.css" rel="stylesheet">
  <title>JNK: Campaign View</title>
</head>
<body>
	<div class="topnav">
		<a th:href="@{/Home}" class="active">Home</a>
		<span class="nav-right"><a th:href="@{/EditProfile}" class="nav-right">Account</a></span>
	 	<span th:switch="${session.user}" class="nav-right">
			<a th:case="null" th:href="@{/LogIn}"> Log In</a>
			<a th:case="*" th:href="@{/LogOut}">Log Out </a>
		</span>
	</div>
	<div>
		<img src="images/nome+logo-removebg.png" th:src="@{/images/nome+logo-removebg.png}" alt="Nome+Logo"/>
 		<h1 align="center">Illegal <b>J</b>u<b>NK</b>yard Crowdsourcing</h1>
	</div>
</body>
</html>