<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <link href="css/mystyle.css" rel="stylesheet">
  <title>JNK: Campaign View</title>
</head>
<body>
	<div class="topnav">
		<a th:href="@{/Home}" class="active">Home</a>
		<span class="nav-right"><a th:href="@{/EditProfile}" class="nav-right">Account</a></span>
	 	<span th:switch="${session.user}" class="nav-right">
			<a th:case="null" th:href="@{/LogIn}"> Log In</a>
			<a th:case="*" th:href="@{/LogOut}">Log Out </a>
		</span>
	</div>
	<div>
		<img src="images/nome+logo-removebg.png" th:src="@{/images/nome+logo-removebg.png}" class="logo" alt="Nome+Logo"/>
	</div>
	
	<div>
		<h1> Campaign <b><span th:text="${session.campaign.name}"> Default </span></b>: </h1>
		Customer: <span th:text="${session.campaign.customer}"> None</span> <br>
		State: <span th:text="${#strings.toString(session.campaign.state)}"> None </span> 
		<form action="UpdateCampaign" method="GET">
			<input type="submit" 
				th:if="${#strings.toString(session.campaign.state) == 'Created' and session.campaign.numImages >= 1}" 
				th:name="action" th:value="Start">
			<input type="submit" 
				th:if="${#strings.toString(session.campaign.state) == 'Started'}" 
				th:name="action" th:value="Close">
		</form>
		
		<br> 
		<div>
			<span th:each="img : ${campaignImages}">
				<a th:if="${#strings.toString(session.campaign.state) != 'Created'}" th:href="@{/InfoImage(image=${img.name})}" > <img th:src="${img.path}" th:class="cmp-img" alt="campaign+images"> </a>
				<img th:unless="${#strings.toString(session.campaign.state) == 'Started'}" th:src="${img.path}" th:class="cmp-img" alt="campaign+images"> 
			</span>
			<div th:if="${#strings.toString(session.campaign.state) != 'Created' and image != null}">
					<br>
					<h4> Image  <span th:text="${image.name}">default</span> details </h4>
					Resolution(High, Medium, Low): <span th:text="${image.name}">default</span> <br>
					Latitude: <span th:text="${image.latitude}">default</span> <br>
					Longitude: <span th:text="${image.longitude}">default</span> <br>
					City: <span th:text="${image.city}">default</span> <br>
					Region: <span th:text="${image.region}">default</span> <br>
					Source: <span th:text="${image.source}">default</span> <br>
					
					<h4>Annotations</h4>
					<div th:each="ann : ${annotations}">
						<b> <span th:text="${ann.author}"> user </span> </b> <br>
						<i>Posted: </i><span th:text="${ann.notes}"> sometext </span> <br>
						<i>Validity: </i><span th:text="${ann.validity}"> Real/False </span> 
						<i>Trust: </i><span th:text="${ann.trust}"> Low/Medium/High </span> <br>
						<i><small>Date: <span th:text="${ann.date}"> date </span> </small></i><br>
						<br>
					</div>
			</div>
		</div>
		
		<div th:if="${#strings.toString(session.campaign.state) == 'Created'}" >
			<h4>Add more images here: </h4>
			<form action="AddImage" method="POST" enctype="multipart/form-data">
				<input type="file" id="image" name="image" accept="image/jpeg" required> <br>
				Resolution(High, Medium, Low): <input type="text" name="resolution"> <br>
				Latitude: <input type="text" name="latitude"> <br>
				Longitude: <input type="text" name="longitude"> <br>
				City: <input type="text" name="city"> <br>
				Region: <input type="text" name="region"> <br>
				Source: <input type="text" name="source"> <br>
				
				<input type="submit" value="Add">
			</form>
		</div>
	</div>
</body>
</html>