<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Jnk: Sign In</title>
  <link href="css/mystyle.css" rel="stylesheet">
</head>
<body>
	<div class="topnav">
		<a th:href="@{/Home}" class="active">Home</a>
		<a href="">Download</a>
		<a href="">Docs</a>
		<a href="">Ecosystem</a>
		<a href="">FAQ</a>
	 	<span th:switch="${session.user}" class="nav-right">
			<a th:case="null" th:href="@{/LogIn}"> Log In</a>
			<a th:case="*" th:href="@{/LogOut}">Log Out </a>
		</span>
		<span class="nav-right"><a th:href="@{/SignIn}" class="nav-right">Sign In</a></span>
	</div>
	<h1>Sign in to start helping the environment</h1>
	
	<form action="SignIn" method ="POST">
	
	E-mail address: <input type= "text" name="mailAddress"> <br>
	Complete Name:  <input type= "text" name="name"> <br>
	Username: <input type="text" name="username"> <br>
	Password: <input type = "password" name="pwd"  ><br>
	<fieldset>
	<legend>Role</legend>
		<select name="role" >
			<option value="worker" selected="selected">Worker </option>
			<option value="manager"> Manager </option>
		</select>
	</fieldset>
	<input type="submit" value="SignIn">
	</form>

</body>
</html>