<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <link href="css/mystyle.css" rel="stylesheet">
  <title>JNK: SignUp</title>
</head>
<body>

	<div class="topnav">
		<a th:href="@{/Home}" class="active">Home</a>
	 	<span th:switch="${session.user}" class="nav-right">
			<a th:case="null" th:href="@{/LogIn}"> Log In</a>
			<span th:case="*">
				<a th:href="@{/EditProfile}" class="nav-right">Account</a>
				<a th:href="@{/LogOut}">Log Out </a>
			</span>
		</span>
	</div>
	<div>
		<img src="images/nome+logo-removebg.png" th:src="@{/images/nome+logo-removebg.png}" class="logo" alt="Nome+Logo"/>
	</div>
	<h1>Sign Up to start helping the environment</h1>
	
	<form action="SignUp" method ="POST">
	
	<div th:if="${session.notvalid == true}" class="not-valid">
		<p> "Username or mail address already used" </p>
	</div>
	
	E-mail address: <input type="email" name="mailAddress" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Format: example@mail.com.*" required> <br>
	Complete Name:  <input type= "text" name="name" required> <br>
	Username: <input type="text" name="username"  pattern="[a-zA-Z0-9-_\.]{1,20}$" title="only letters, numbers '_'(underscore) and '.'(dot) are accepted" required> <br>
	Password: <input type = "password" name="pwd" required><br>
	<fieldset>
	<legend>Role</legend>
		<select name="role" >
			<option value="worker" selected="selected">Worker </option>
			<option value="manager"> Manager </option>
		</select>
	</fieldset>
	<input type="submit" value="SignUp">
	</form>

</body>
</html>